*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*PAGINA PRINCIPAL*/
 .logo-urku {
  width: 120px;
  height: 100px 
 }


 .imagen-logo{
  width: 50px;
  height: 50px;
 }
 .nav-link{
  margin-left: 10px;
 }

.titulo-principal{
  font-size-adjust: 80px;
  text-align: center;
  color: black;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
  font-size: 45px;
  }

  .titulo-principal {
    font-size: calc(1.025rem + 3.3vw);
  }
  
  @media (min-width: 1200px) {
    .titulo-principal {
      font-size: 4rem;
    }
  }


  .descriptio-princial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 .description{
   text-align: center;
   background-position: center;
   
    width: 640px;
    height: 150px;
    color: black;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 15px;
    
   
  }
  .description {
    font-size: calc(1.525rem + 0.1vw);
  }
  
  @media (min-width: 100px) {
    .title {
      font-size: 1rem;
    }
  }
  /* .carousel-item {
    width: 500px;
    height: 500px;
  }
   */
  /* .d-block {
    width: 500px;
    height: 500px;
  } */

  .footer-principal{
    display: flex;
    flex-direction: row;

    

  }

  .ubicacion-contacto {
    
    margin-left: 20px;
    padding-right: 20px;
   
    word-spacing: 20px;
    
 }

 .logos {
  align-items: flex-start;
  width: 40px;
  height: 40px;
  
 }

 footer {
  margin-top: px;
 }


.carusel-principal{
 margin-top: 15px;
 display: flex;
justify-content: center


 
    
} 

/*quienes somos*/


.titulos-about{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size-adjust: 40px;
  text-align: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
  font-style: italic;
  
  }
  .a-class{
    color: black;
  }
  
  .header-about{
    margin: 5px;
    padding: 5px;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
  }
 
  
  
  /*  */
  .divimagen-principal-about {
      
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .imagen-grupo{
      width: 1000px;
      height: 800px;
      margin: 30px;
  
    }
  
  .descriptio-principal-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
      
  }
  
  .description-about {
     text-align: center;
     background-position: center;
      margin: 400;
      padding: 400;
      width: 1000px;
      height: 200px;
      color: black;
      font-size: 30px;
      text-align: justify; 
      font-weight: bold;
    }
    .card-img-top{
      width: 250px;
      height: 250px;
    }
/*service*/



.card-text {
  text-align: justify;
}

/* .card-img-top{
  display: flex;
  justify-content: center;
    align-items: center;
} */

.cardabout{
  width: 280px;
  height: 250px;
  margin-bottom: 20px;
}

.cardguia{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.maind-service {
  margin-top: 25px;
}

/*experiencia*/
.experiencia-sectio1{
 background-image: url(../assets/img/staly.jpg);
 background-repeat: repeat ;
  background-size: cover ;
 height: 300px;
  
}
.paddingdtext{
  padding-top: 100px;
  padding-left: 15px;
}
.paddingp {
  padding-left: 15px;
  padding-top: 15px;
}
.nuestra-experiencia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}
.n-experiencia {
  width: 520px;
  height: 350px;
  margin-bottom: 80px;
  
}
.n-experiencia-li{
  width: 520px;
  height: 350px;
  padding-top: 60px;
  
  
}

.lista-experiencia{
margin-top: 25px;
 
}

ul{
  list-style-type: none;

}

/*localizacio*/
/*equipo de alrquiler*/
/*botas*/
.imagen-equipo{
  height: 300px;
  width: 300px;
}

.footer-section{
  background-color: blue;
}
.secti-foot {
  height: 100px;
}