

$nav-font:bold ;
$navbar-color: grey, white; 
$body-color:  white, #dedede;
$boton-style: bold;
$texto: justify;
/*extend*/

/*map*/
$estilos: (
  margen: 5px,
  bordes: 5px,
  textisq: left,
  margender: 20px,
  negrilla: bold,
  italico: italic
);

@mixin cardAcercaDeNosotros($ancho, $alto, $margebajo){
  width: $ancho;
  height: $alto;
  margin-bottom: $margebajo;
}

%imagen-equipo {
    height: 300px;
    width: 300px;
}
%confi {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*{
    @extend %confi
}
.card-experiencia{
    text-align: $texto;
}
 .card-quienessomos {
    text-align: $texto;
 }

 
.nav-item:hover {
     font-weight: $boton-style;
  }

.dropdown-item:hover {
     font-weight: $boton-style;
 }

 body{
    background-image: linear-gradient(to bottom, $body-color);
 }


 /*sass*/
 .nav-item:hover{
   font-weight: $nav-font;
  }

   .navbar{
   background-image: linear-gradient(to bottom, $navbar-color)
 /* background-image: radial-gradient(circle, orange, yellow ); */
  
  }
/*PAGINA PRINCIPAL*/
 .logo-urku {
  width: 120px;
  height: 100px 
 }



 body {
  background-image: linear-gradient(to bottom,$body-color);
} 
 .imagen-logo{
  width: 50px;
  height: 50px;
 }
 .nav-link{
  margin-left: 10px;
 
 }

.titulo-principal{
  font-size-adjust: 80px;
  text-align: center;
  color: black;
  font-style: map-get($map: $estilos, $key: italico);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
  font-size: 45px;
  }

  .titulo-principal {
    font-size: calc(1.025rem + 3.3vw);
  }
  
  @media (min-width: 1200px) {
    .titulo-principal {
      font-size: 4rem;
    }
  }


  .descriptio-princial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 .description{
   text-align: center;
   background-position: center;
   
    width: 640px;
    height: 150px;
    color: black;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 15px;
    
   
  }
  .description {
    font-size: calc(1.525rem + 0.1vw);
  }
  
  @media (min-width: 100px) {
    .title {
      font-size: 1rem;
    }
  }
  /* .carousel-item {
    width: 500px;
    height: 500px;
  }
   */
  /* .d-block {
    width: 500px;
    height: 500px;
  } */

  .footer-principal{
    display: flex;
    flex-direction: row;
  }

  .ubicacion-contacto {
    
    margin-left: 20px;
    padding-right: 20px;
    word-spacing: 20px;
    
 }

 .logos {
  align-items: flex-start;
  width: 40px;
  height: 40px;
  /* transform: translate(20px, -7px); se puede hacer x y */
  
 }

 footer {
  margin-top: px;
 }


.carusel-principal{
 margin-top: 15px;
 display: flex;
justify-content: center
} 

/*quienes somos*/


.titulos-about{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size-adjust: 40px;
  text-align: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
  font-style: map-get($map: $estilos, $key: italico);
  
  }
  .a-class{
    color: black;
  }
  
 
  .header-about{
    margin: map-get($map: $estilos, $key:margen );
    padding: map-get($map: $estilos, $key:bordes );
    text-align: map-get($map: $estilos, $key: textisq);
    margin-left: map-get($map: $estilos, $key: margender);
    font-weight: map-get($map: $estilos, $key: negrilla);
  }

  .imagen-equipo{
    @extend %imagen-equipo
    }
 
  
  
  /*  */
  .divimagen-principal-about {
      
      display: flex;
      justify-content: center;
      align-items: center;
   }
    .imagen-grupo{
      width: 1000px;
      height: 800px;
      margin: 30px;
   }
  
  .descriptio-principal-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
      }
  
  .description-about {
     text-align: center;
     background-position: center;
      margin: 400;
      padding: 400;
      width: 1000px;
      height: 200px;
      color: black;
      font-size: 30px;
      text-align: justify; 
      font-weight: bold;
    }
    .card-img-top{
      width: 300px;
      height: 250px;
    }
/*service*/

.btn-warning:hover{
    font-weight: $boton-style;
   
   } 

/* .card-img-top{
  display: flex;
  justify-content: center;
    align-items: center;
} */


.cardabout{
 @include cardAcercaDeNosotros(280px,250px,20px );
}

.cardguia{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 40px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.maind-service {
  margin-top: 10px;
}

/*experiencia*/
.experiencia-sectio1{
 background-image: url(../assets/img/staly.jpg);
 background-repeat: repeat ;
  background-size: cover ;
 height: 300px;
  
}
.paddingdtext{
  padding-top: 100px;
  padding-left: 15px;
}
.paddingp {
  padding-left: 15px;
  padding-top: 15px;
}
.nuestra-experiencia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}
.n-experiencia {
  width: 6000px;
  height: 350px;
  margin-bottom: 80px;
  margin-left: 20px;
  
}
.n-experiencia-li{
  width: 520px;
  height: 350px;
  padding-top: 60px;
   
}
.card-text {
  text-align: $texto;
}
.mb-3 {
  text-align: $texto;
}

.lista-experiencia{
margin-top: 25px;
 
}

ul{
  list-style-type: none;

}

/*localizacio*/
/*equipo de alrquiler*/
/*botas*/


.footer-section{
  background-color: blue;
}
.secti-foot {
  height: 100px;
}

.carderv{
  background-image: linear-gradient(to bottom,$body-color);
  border-radius: 60px;
   padding: 10px;
  
 }

/*transiciones*/

/*ANIMACIONES*/

.logo-urku{
  animation-name: logo-urku-anime;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 1s;

}
@keyframes logo-urku-anime {
  /*estado inicial*/ /*ejemplo 1*/
  /* 0%{width: 100px;}  
  25%{width: 50px;}
  50%{width: 200px;}
  100%{width: 100px;} */
  0%{ transform: rotate(0);}
  100%{ transform: rotate(360deg);}
}
